/*VARIABLES*/
/*couleur texte header et footer*/
/*couleur background header et footer*/
/*HEADER*/
header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  font-family: "Montserrat", sans-serif;
  color: #fdcb46;
  background-color: #579c87;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
header a {
  color: #fdcb46;
  text-decoration: none;
}
header a h1 {
  font-size: 3em;
}

/*FOOTER*/
footer {
  margin-top: -5%;
  bottom: 0;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
}

.text_footer {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  background-color: #579c87;
  padding: 2%;
  /*&:hover h4{
       Start the shake animation and make the animation last for 0.5 seconds 
  animation: wiggle 0.5s infinite;
  }*/
}
.text_footer a {
  color: #fdcb46;
}
.text_footer h4 {
  display: inline-block;
  font-size: 17px;
  font-weight: bold;
}
.text_footer h4:hover {
  animation: wiggle 0.5s infinite;
}

@keyframes wiggle {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
@media screen and (min-width: 972px) {
  header {
    height: 150px;
  }
  header a h1 {
    font-size: 4em;
  }
}
/*VARIABLES COULEURS MENUS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/******************/
/*STRUCTURE DU SITE*/
/******************/
/*ACCUEIL*/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto 0;
  text-align: center;
}

.container_menu {
  padding: 70px 40px;
  margin: 30px auto 100px;
  width: 100%;
  max-width: 800px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}

/******************/
/*PROPRIETES POUR LES 4 MENUS*/
/******************/
/*MENUS ACCUEIL*/
.menu_4, .menu_3, .menu_2, .menu_1 {
  flex-direction: column;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
  padding: 45px;
  margin: 25px;
}

.menu_chic h2, .menu_2 h2 {
  font-family: "Kurale", serif;
  font-size: 2em;
  background: #e38a12;
  /* Old browsers */
  background: -moz-linear-gradient(-45deg, #e38a12 0%, #a768bc 51%, #b38cfa 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #e38a12 0%, #a768bc 51%, #b38cfa 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #e38a12 0%, #a768bc 51%, #b38cfa 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#e38a12", endColorstr="#b38cfa",GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.menu_papilles h2, .menu_3 h2 {
  font-size: 2em;
  font-family: "Dancing Script", cursive;
  background: -moz-linear-gradient(left, #00b7ea 0%, #0060c1 100%);
  background: -webkit-linear-gradient(left, #00b7ea 0%, #0060c1 100%);
  background: linear-gradient(to right, #00b7ea 0%, #0060c1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#00b7ea", endColorstr="#0060c1",GradientType=1 );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.menu_lapalette h2, .menu_4 h2 {
  font-size: 2em;
  font-family: "Kaushan Script", cursive;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#43973d+0,beff7f+100 */
  background: #43973d;
  /* Old browsers */
  background: -moz-linear-gradient(left, #43973d 0%, #beff7f 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #43973d 0%, #beff7f 100%);
  /*  Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #43973d 0%, #beff7f 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#43973d", endColorstr="#beff7f",GradientType=1 );
  /* IE6-9 */
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/*fonts pour les 4 menus, MENU PRINCIPAL*/
.menu_1 {
  background-color: #fcdfdb;
}
.menu_1 h2 {
  font-family: "Caveat", cursive;
  font-size: 1.5em;
  color: #3f3737;
}
.menu_1 p {
  font-family: "Itim", cursive;
  color: #3f3737;
  font-size: 2em;
  font-weight: bold;
}

.menu_2 {
  background-color: #fff5fe;
}
.menu_2 h2 {
  margin-top: 15%;
}
.menu_2 p {
  font-family: "DM Serif Text", serif;
  font-size: 2em;
  color: #c77412;
}

.menu_3 {
  background-color: #f2efef;
}
.menu_3 h2 {
  margin-top: 15%;
}
.menu_3 p {
  font-size: 3em;
  font-family: "Nanum Pen Script", cursive;
  font-style: italic;
  color: #0887fb;
}

.menu_4 {
  background-color: #fdfdfd;
}
.menu_4 h2 {
  margin-top: 15%;
}
.menu_4 p {
  font-size: 3em;
  font-family: "Nanum Pen Script", cursive;
  color: #72bf56;
}

/******PROCHAINEMENT******/
.prochainement {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 23px auto 68px auto;
  padding: 10px;
  background-color: #579c87;
  border-radius: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
.prochainement h3 {
  font-size: 1.5em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: #fdcb46;
}

/***** ANIMATION DES POINTS*******/
.points {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-left: 1%;
}
.points .point {
  margin: 0.7vw;
  width: 1.2vw;
  height: 1.2vw;
  border-radius: 50%;
  background: #fdcb46;
}
.points .point:nth-child(1) {
  animation: pulse 3s linear infinite;
}
.points .point:nth-child(2) {
  animation: pulse 3s linear infinite 200ms;
}
.points .point:nth-child(3) {
  animation: pulse 3s linear infinite 400ms;
}

@keyframes pulse {
  from, 40% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  80%, to {
    opacity: 1;
  }
}
/*SECTION NOM DU MENU// presentation chaque menu (entrees, plats, dessert*/
.nomdumenu {
  display: flex;
  flex-direction: column;
}
.nomdumenu h2 {
  text-align: center;
}

.menu_lapalette img, .menu_papilles img, .menu_chic img, .menu_note_enchantee img {
  width: 28%;
  height: 10%;
}

.menu_note_enchantee {
  font-family: "Caveat", cursive;
}

.menu_note_enchantee .nomdumenu {
  align-items: center;
}

.menu_chic h2 {
  font-size: 1.7em;
}
.menu_chic .color_entree {
  color: #c67412;
}
.menu_chic .color_plat {
  color: #a56799;
}
.menu_chic .color_dessert {
  color: #6e4ccc;
}

.menu_papilles h3, .menu_papilles p {
  font-family: "Caveat", cursive;
}

.menu_lapalette h2 {
  margin-bottom: 15px;
}
.menu_lapalette h3, .menu_lapalette p {
  font-family: "Caveat", cursive;
}

/*Section entree*/
.titre_entree, .menu_lapalette .titre_plat, .menu_papilles .titre_plat, .menu_chic .titre_plat, .menu_note_enchantee .titre_plat {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 50px 0;
  align-items: center;
}

/*STYLE DES MENUS*/
.lignemenu li {
  justify-content: space-between;
  display: flex;
  margin-right: 20px;
  margin-top: 30px;
}
.lignemenu li .menu__nom {
  font-size: 1.1em;
}
.lignemenu li .menu__prix {
  font-weight: bolder;
  font-size: 1.1em;
}

.menu_note_enchantee {
  background-color: #fcdfdb;
}
.menu_chic {
  background-color: #fff5fe;
}
.menu_papilles {
  background-color: #f2efef;
}
.menu_lapalette {
  background-color: #f8f8f8;
}
.nomdumenubas {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  margin-top: 40px;
}

h6 {
  font-size: 1.5em;
}

/*ANIMATIONS DES TEXTES ET ANIMATION TIREE TITRE PLATS*/
.fa-music {
  background: linear-gradient(to left, #f8a183, #f15861);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 52px;
  height: 52px;
  font-size: 50px;
}

.menu:hover p, .menu:hover h2, .menu:hover .fa-music {
  transition: transform 300ms cubic-bezier(0.48, 0.01, 0.63, 1.02);
  opacity: 1;
  transform: scale(1.3);
  opacity: 0.7;
}

.line_lanote {
  background: linear-gradient(to top, #3f3737 0%, #3f3737 0.2vw, transparent 0.2vw) no-repeat;
  background-size: 0 100%;
  transition: background-size 300ms;
  font-size: 1.7em;
}
.line_lanote:hover {
  background-size: 100% 100%;
}

.line_lechic_1 {
  background: linear-gradient(to top, #c77412 0%, #c77412 0.2vw, transparent 0.2vw) no-repeat;
  background-size: 0 100%;
  transition: background-size 300ms;
  font-size: 1.3em;
}
.line_lechic_1:hover {
  background-size: 100% 100%;
}

.line_lechic_2 {
  background: linear-gradient(to top, #a56799 0%, #a56799 0.2vw, transparent 0.2vw) no-repeat;
  background-size: 0 100%;
  transition: background-size 300ms;
  font-size: 1.3em;
}
.line_lechic_2:hover {
  background-size: 100% 100%;
}

.line_lechic_3 {
  background: linear-gradient(to top, #6e4ccc 0%, #6e4ccc 0.2vw, transparent 0.2vw) no-repeat;
  background-size: 0 100%;
  transition: background-size 300ms;
  font-size: 1.3em;
}
.line_lechic_3:hover {
  background-size: 100% 100%;
}

.line_papilles_1 {
  background: linear-gradient(to top, #0328db 0%, #0328db 0.2vw, transparent 0.2vw) no-repeat;
  background-size: 0 100%;
  transition: background-size 300ms;
  font-size: 1.8em;
}
.line_papilles_1:hover {
  background-size: 100% 100%;
}

.line_papilles_2 {
  background: linear-gradient(to top, #0371f0 0%, #0371f0 0.2vw, transparent 0.2vw) no-repeat;
  background-size: 0 100%;
  transition: background-size 300ms;
  font-size: 1.8em;
}
.line_papilles_2:hover {
  background-size: 100% 100%;
}

.line_papilles_3 {
  background: linear-gradient(to top, #299bf2 0%, #299bf2 0.2vw, transparent 0.2vw) no-repeat;
  background-size: 0 100%;
  transition: background-size 300ms;
  font-size: 1.8em;
}
.line_papilles_3:hover {
  background-size: 100% 100%;
}

.line_lapalette {
  background: linear-gradient(to top, #53a745 0%, #53a745 0.2vw, transparent 0.2vw) no-repeat;
  background-size: 0 100%;
  transition: background-size 300ms;
  font-size: 1.5em;
}
.line_lapalette:hover {
  background-size: 100% 100%;
}

/******************/
/*MENTIONS LEGALES*/
/******************/
/*MENTIONS LEGALES*/
.pagementionslegales {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}
.pagementionslegales h5 {
  font-size: 25px;
  color: #579c87;
}
.pagementionslegales h6 {
  font-size: 18px;
  font-weight: 500;
}
.pagementionslegales p {
  font-size: 17px;
}
.pagementionslegales em {
  font-size: 15px;
  font-weight: bold;
}
.pagementionslegales a {
  color: black;
}

/******************/
/*RESPONSIVE*/
/******************/
/* Responsive Tablet*/
@media screen and (min-width: 576px) {
  .container {
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    flex-direction: row;
  }

  .container .menu_1 {
    align-items: center;
  }

  .container article {
    display: flex;
    height: 320px;
    width: 200px;
    margin: 25px;
    justify-content: center;
  }
}
@media screen and (min-width: 720px) {
  .container article {
    height: 350px;
    width: 300px;
  }
}
/* Responsive Desktop*/
@media screen and (min-width: 972px) {
  .container {
    max-width: 1200px;
  }

  .container article {
    height: 550px;
    width: 400px;
  }

  .menu_1 h2 {
    font-size: 2em;
  }

  .prochainement {
    width: 43.5%;
    margin: 6px auto 110px auto;
  }
  .prochainement h3 {
    font-size: 2em;
    font-weight: bold;
    color: #fdcb46;
  }

  /*STYLE DES MENUS RESPONSIVE*/
  .lignemenu {
    margin: 0px 40px;
  }

  .desserts_chic {
    font-size: 1.2em;
  }

  .menu_note_enchantee .lignemenu {
    margin: 0px 10px;
  }

  /*FONTSIZE POUR LES 3 MENUS: LA NOTE, PAPILLES ET LA PALETTE*/
  .menu_note_enchantee .lignemenu li .menu__nom,
.menu_note_enchantee .lignemenu li .menu__prix,
.menu_papilles .lignemenu li .menu__nom,
.menu_papilles .lignemenu li .menu__prix,
.menu_lapalette .lignemenu li .menu__nom,
.menu_lapalette .lignemenu li .menu__prix {
    font-size: 1.5em;
  }

  /*STYLE DES MENUS RESPONSIVE*/
  .line_lanote {
    font-size: 2em;
  }
}

/*# sourceMappingURL=style.css.map */
