@import "_header_footer";

/*variables colors menu*/
$note_color:rgb(252,223,219);
$chic_color:rgb(255, 245, 254);
$delice_color: rgb(242, 239, 239);
$lapalette_color:rgb(248, 248, 248);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}



/*tous les menus: menus-prev*/
.container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto 0;
    text-align: center;
    
} 
.container_menu{
    padding: 70px 40px;
    margin: 30px auto 100px;
    width: 100%;
    max-width: 800px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
}
/*proprietes pour les 4 menus*/
%menu
{
    flex-direction: column;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.3);
    padding: 45px;
    margin: 25px;
    
}    
%menu_chic_gradient
{
    font-family: 'Kurale', serif;
    font-size: 2em;
    background: #e38a12; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #e38a12 0%, #a768bc 51%, #b38cfa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #e38a12 0%,#a768bc 51%,#b38cfa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #e38a12 0%,#a768bc 51%,#b38cfa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e38a12', endColorstr='#b38cfa',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
}
%menu_papilles_gradient
{
    font-size: 2em;
    font-family: 'Dancing Script', cursive;
    background: -moz-linear-gradient(left,  #00b7ea 0%, #0060c1 100%);
    background: -webkit-linear-gradient(left,  #00b7ea 0%,#0060c1 100%);
    background: linear-gradient(to right,  #00b7ea 0%,#0060c1 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#0060c1',GradientType=1 );
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
%menu_palette_gradient
{
    font-size: 2em;
    font-family: 'Kaushan Script', cursive;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#43973d+0,beff7f+100 */
    background: #43973d; /* Old browsers */
    background: -moz-linear-gradient(left,  #43973d 0%, #beff7f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #43973d 0%,#beff7f 100%); /*  Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #43973d 0%,#beff7f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43973d', endColorstr='#beff7f',GradientType=1 ); /* IE6-9 */
    -webkit-text-fill-color:transparent;
    -webkit-background-clip:text;
}
/*fonts pour les 4 menus, MENU PRINCIPAL*/
.menu_1{
    @extend %menu;
    background-color: $note_color;
    h2{
        font-family: 'Caveat', cursive;
        font-size: 1.5em;
        color:rgb(63, 55, 55);
    }
    p{
        font-family: 'Itim', cursive;
        color:rgb(63, 55, 55);
        font-size: 2em;
        font-weight: bold;
     
    } 
}
.menu_2{
    @extend %menu;
    background-color: $chic_color;
    h2{
        @extend %menu_chic_gradient;
        margin-top: 15%;
    }
    p{  
        font-family: 'DM Serif Text', serif;
        font-size: 2em;
        color: rgb(199,116,18); 
    }
}
.menu_3{
    @extend %menu;
    background-color: $delice_color;
    h2{
        @extend %menu_papilles_gradient;
        margin-top: 15%;
    }
    p{
        font-size: 3em;
        font-family: 'Nanum Pen Script', cursive;
        font-style: italic;
        color: rgb(8,135,251);
    }
}
.menu_4{
    @extend %menu;
    background-color: rgb(253, 253, 253);
    h2{
        @extend %menu_palette_gradient;
        margin-top: 15%;
    }
    p{
        font-size: 3em;
        font-family: 'Nanum Pen Script', cursive;
        color: rgb(114,191,86);
    }
}
/*PROCHAINEMENT*/

.prochainement
{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 23px auto 68px auto;;
    padding: 10px;
    background-color: rgb(87, 156, 135);
    border-radius: 30px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    h3{

        font-size: 1.5em;
        font-family:'Montserrat', sans-serif;
        font-weight: bold;
        color: rgb(253, 203, 70);
    }
}
/* ANIMATION DES POINTS*/

.points
{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 1%;
    .point{
        margin: 0.7vw;
        width: 1.2vw;
        height: 1.2vw;
        border-radius: 50%;
        background: rgb(253, 203, 70);
        &:nth-child(1){
            animation:pulse 3s linear infinite;   
        }
        &:nth-child(2){
            animation:pulse 3s linear infinite 200ms;   
        }
        &:nth-child(3){
            animation:pulse 3s linear infinite 400ms;   
        }
    }
}
@keyframes pulse {
    from, 
    40% {
        opacity: 0; 
    }
    50%
    {
        opacity: 0.5;
    }
    80%,
    to {
        opacity: 1;
    }
}

/*SECTION NOM DU MENU// presentation chaque menu (entrees, plats, dessert*/


.nomdumenu
{
    display: flex;
    flex-direction: column;
    h2{
        text-align: center;
    }
    
}
%tailleimg{
    width: 28%;
    height: 10%;
}

.menu_note_enchantee{

img{
    @extend %tailleimg;
    }
}

.menu_chic{
    
   img{
    @extend %tailleimg;
    }
}
.menu_papilles{
    
  
    img{
        @extend %tailleimg;
        }

}
.menu_lapalette{
   
  
    img{
        @extend %tailleimg; 
        }
}
.menu_note_enchantee{
    font-family: 'Caveat', cursive;
}
.menu_note_enchantee .nomdumenu{
    align-items: center;
}

.menu_chic {
    h2{
    font-size: 1.7em;
    @extend %menu_chic_gradient;
    }
    .color_entree{
    color: rgb(198,116,18);
    }
    .color_plat{
    color: rgb(165,103,153);  
    }
    .color_dessert{
    color: rgb(110,76,204);  
    }
}


.menu_papilles{
h2{
    @extend %menu_papilles_gradient;
}
h3 , p{
    font-family: 'Caveat', cursive; 
}  
}
.menu_lapalette{
 h2{
    @extend %menu_palette_gradient;
    margin-bottom: 15px;
}
h3 , p{
    font-family: 'Caveat', cursive; 
}  

}
/*Section entree*/

.titre_entree
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 50px 0;
    align-items: center;
}


/*STYLE DES MENUS*/

.lignemenu
{
    
    li
    {
    justify-content: space-between;
    display: flex;
    margin-right: 20px;
    margin-top: 30px;
    }
    li .menu__nom{
        font-size: 1.1em;
    }
    li .menu__prix{
        font-weight: bolder;
        font-size: 1.1em;
    }
}
.menu_note_enchantee
{   
    background-color: $note_color;

    .titre_plat{
    @extend .titre_entree
        }
    
}
.menu_chic{
   
    background-color: $chic_color;
    .titre_plat{
        @extend .titre_entree
    }
}
.menu_papilles{
 
    background-color: $delice_color;
    .titre_plat{
    @extend .titre_entree
    }

}
.menu_lapalette{
 
    background-color: $lapalette_color;
    .titre_plat{
        @extend .titre_entree
    }
}

.nomdumenubas
{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

h6
{
    font-size: 1.5em;
}


/*ANIMATIONS DES TEXTES ET ANIMATION TIREE TITRE PLATS*/
.fa-music
{ 
    background: linear-gradient(to left, #f8a183, #f15861);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 52px;
    height: 52px;
    font-size: 50px;
}

%transitionmenu
{
    transition: transform 300ms cubic-bezier(.48,.01,.63,1.02);
    opacity: 1; 
    transform: scale(1.3);
    opacity: 0.7;
}
.menu
{
    
    &:hover .fa-music {
        @extend %transitionmenu;   
    }
    &:hover h2{
        @extend %transitionmenu;
    }
    &:hover p{
        @extend %transitionmenu;
    }
    
}
.line_lanote{
    background: linear-gradient(to top, rgb(63, 55, 55) 0%, rgb(63, 55, 55) 0.2vw, transparent 0.2vw) no-repeat;
    background-size: 0 100%;
    transition: background-size 300ms;
    &:hover{
        background-size: 100% 100%;  
    }
    font-size: 1.7em;

}
.line_lechic_1{
    background: linear-gradient(to top, rgb(199,116,18) 0%, rgb(199,116,18) 0.2vw, transparent 0.2vw) no-repeat;
    background-size: 0 100%;
    transition: background-size 300ms;
    &:hover{
        background-size: 100% 100%;  
    }
    font-size: 1.3em;
}
.line_lechic_2{
    background: linear-gradient(to top, rgb(165,103,153) 0%, rgb(165,103,153) 0.2vw, transparent 0.2vw) no-repeat;
    background-size: 0 100%;
    transition: background-size 300ms;
    &:hover{
        background-size: 100% 100%;  
    }
    font-size: 1.3em;
}
.line_lechic_3{
    background: linear-gradient(to top, rgb(110,76,204) 0%, rgb(110,76,204) 0.2vw, transparent 0.2vw) no-repeat;
    background-size: 0 100%;
    transition: background-size 300ms;
    &:hover{
        background-size: 100% 100%;  
    }
    font-size: 1.3em;
}
.line_papilles_1{
    background: linear-gradient(to top, rgb(3, 40, 219) 0%, rgb(3, 40, 219) 0.2vw, transparent 0.2vw) no-repeat;
    background-size: 0 100%;
    transition: background-size 300ms;
    &:hover{
        background-size: 100% 100%;  
    }
    font-size: 1.8em;
}
.line_papilles_2{
    background: linear-gradient(to top, rgb(3, 113, 240) 0%, rgb(3, 113, 240) 0.2vw, transparent 0.2vw) no-repeat;
    background-size: 0 100%;
    transition: background-size 300ms;
    &:hover{
        background-size: 100% 100%;  
    }
    font-size: 1.8em;
}
.line_papilles_3{
    background: linear-gradient(to top, rgb(41, 155, 242) 0%, rgb(41, 155, 242) 0.2vw, transparent 0.2vw) no-repeat;
    background-size: 0 100%;
    transition: background-size 300ms;
    &:hover{
        background-size: 100% 100%;  
    }
    font-size: 1.8em;  
}

.line_lapalette{
    background: linear-gradient(to top, rgb(83, 167, 69) 0%, rgb(83, 167, 69) 0.2vw, transparent 0.2vw) no-repeat;
    background-size: 0 100%;
    transition: background-size 300ms;
    &:hover{
        background-size: 100% 100%;  
    }
    font-size: 1.5em; 
}

 /******************/
/*MENTIONS LEGALES*/
/******************/

/*MENTIONS LEGALES*/

.pagementionslegales
{
    margin: 0 auto;
    font-family:'Montserrat', sans-serif;
    h5{
        font-size: 25px;
        color: $clrbck;
    }
    h6{
        font-size: 18px;
        font-weight: 500; 
    }
    p{
        font-size: 17px;
    }
    em{
        font-size: 15px;
        font-weight: bold;
    }
    a{
        color: black;
    }
}

/******************/
/*RESPONSIVE*/
/******************/
/* Responsive Tablet*/
@media screen and (min-width: 576px){

    .container{
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;
        flex-direction: row;
    }
    .container .menu_1{
        align-items: center;
    }
    .container article{
        display: flex;
        height: 320px;
        width: 200px;
        margin: 25px;
        justify-content: center;
    }
}
@media screen and (min-width: 720px){
.container article{
    height: 350px;
    width: 300px; 
} 
}
    /* Responsive Desktop*/
@media screen and (min-width: 972px){

    .container{
    max-width: 1200px;
    }
    
    .container article{
    height: 550px;
    width: 400px;
    }
    
    .menu_1{
        h2{
            font-size: 2em;
        }
    }
    
    .prochainement
    {
    width:43.5%;
    margin: 6px auto 110px auto;
    
    h3{
    font-size: 2em;
    font-weight: bold;
    color: rgb(253, 203, 70);
    }
    }
    
    /*STYLE DES MENUS RESPONSIVE*/
    .lignemenu{
    margin: 0px 40px;
    }
    .desserts_chic{
        font-size: 1.2em;
    }
    .menu_note_enchantee .lignemenu{
        margin: 0px 10px;
    }
    /*FONTSIZE POUR LES 3 MENUS: LA NOTE, PAPILLES ET LA PALETTE*/
    %font_menu
    {
    font-size: 1.5em;
    }
    .menu_note_enchantee .lignemenu li .menu__nom ,
    .menu_note_enchantee .lignemenu li .menu__prix ,
    .menu_papilles .lignemenu li .menu__nom ,
    .menu_papilles .lignemenu li .menu__prix ,
    .menu_lapalette .lignemenu li .menu__nom ,
    .menu_lapalette .lignemenu li .menu__prix
    {
        @extend %font_menu;
    }
    /*STYLE DES MENUS RESPONSIVE*/
    .line_lanote {
        font-size: 2em;
        } 
    }